.body{
background-color: lightblue;
display: grid;
margin: 0px;
grid-template-columns: 1fr;
grid-row-gap: 250px;
}

.header, .footer{
background-color: white;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 1280px;
height: 50px;
font-size: 20px;
}

#Home{
margin-right: 70px;
}

#Career{
margin-right: 70px ;
}

.IndexLeft{
position: absolute;
left: 50px;
top: 110px;
width: 300px;
height: 200px;
}

.IndexRight{
position: absolute;
left: 930px;
top: 250px;
width: 300px;
height: 200px;
}

.CareerRight{
position: absolute;
top: 60px;
left: 780px;
width: 400px;
height: 200px;
}
    
.CareerLeft{
position: absolute;
top: 200px;
width: 200px;
height: 200px;
}

.GOATLeft{
position: absolute;
left: 40px;
top: 120px;
}

.GOATRight{
position: absolute;
width: 290px;
height: 180px;
left: 945px;
top: 350px;
}

h1{
position: absolute;
left: 525px;
top: 50px;
}

h2{
position: absolute;
left: 480px;
top: 130px;
}

h3{
position: absolute;
text-align: center;
top: 200px;
margin-left: 30%;
margin-right: 30%;
line-height: 35px;
}

.titel1{
position: absolute;
font-size: 18px;
top: 35px;
left: 20px;
right: 600px;
}

.titel2{
position: absolute;
font-size: 18px;
top: 165px;
left: 20px;
right: 600px;
}

.titel3{
position: absolute;
font-size: 18px;
top: 320px;
left: 20px;
right: 600px;
}

.Jeugdteam{
position: absolute;
font-size: 18px;
top: 60px;
left: 20px;
right: 600px;
}

.Debuut{
position: absolute;
font-size: 18px;
top: 190px;
left: 20px;
right: 600px;
}

.Transfer{
position: absolute;
font-size: 18px;
top: 345px;
left: 20px;
right: 600px;
}

.header:hover{
background-color: plum;
}

.footer:hover{
background-color: plum;
}
